@use '../util/' as *;

.currentpj {
  margin-top: rem(47);

  @include breakpoint-up('medium') {
    margin-bottom: rem(90);
  }

  &__heading {
    text-align: center;
    margin-bottom: rem(24);

    @include breakpoint-up('medium') {
      margin: rem(180) 0 rem(84);
    }
  }

  &__content {
    gap: rem(30);
  }
}

.item-currentpj {
  margin-bottom: rem(40);

  &__image {
    width: 100%;
    height: rem(270);
    object-fit: cover;

    @include breakpoint-up('medium') {
      height: rem(380);
    }
  }

  &__title {
    margin: rem(16) 0;
    max-width: rem(260);
    font-size: rem(24);

    @include breakpoint-up('medium') {
      font-size: rem(28);
      max-width: rem(300);
    }
  }

  &__text {
    margin: rem(16) 0;
    line-height: 180%;
  }

  &__link {
    font-size: rem(16);
    color: var(--color-accent);
    font-weight: 600;

    @include breakpoint-up('medium') {
      font-size: rem(20);
    }
  }
}
