@use '../util/' as *;

.header {
  padding-top: rem(15);
  padding-bottom: rem(15);

  @include breakpoint-up('medium') {
    padding-top: rem(44);
  }
}



.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include breakpoint-up('medium') {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__toggler {
    display: inline-block;

    @include breakpoint-up('medium') {
      display: none;
    }
  }

  &__button {
    margin-inline: auto;

    @include breakpoint-up('medium'){
      margin-inline: 0;
    }
  }

  &__logo {
    width: rem(140);

    @include breakpoint-up('medium'){
      width: rem(240);
    }
  }

  &__list {
    width: 100%;
    list-style: none;
    line-height: 2;
    text-align: center;
    padding-left: 0;
    gap: rem(45);
    bottom: 100%;
    animation: fade-in 0.4s cubic-bezier(0.64, 0.03, 0.36, 0.99);
    
    @include breakpoint-up('medium') {
      display: flex;
      width: fit-content;
    }


    &__item a {
      color: var(--color-headings);
    }

    &__item {

      &--home a {
        font-weight: bold;
        color: var(--color-accent);
      }
    }
  }
}